# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
new_env/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Docker / local
*.pid